<html>

<head>
  <meta charset="UTF-8">
  <title>PDC - {{ title }}</title>
  <meta name="description" content="Visualization Dashboard.">
  <link rel="PDC Icon" href="/assets/images/favicon.ico" type="image/x-icon" />

  {{> styles }}
  {{> scripts }}
</head>

<body>
