<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
        <title>{{ title }} - PDC</title>
    {{else}}
        <title>PDC</title>
    {{/if}}

    <meta name="description" content="Visualization Dashboard.">
    <link rel="PDC Icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

    {{> styles }}
    {{> scripts }}
</head>

<body>
