{{#if user}}

    <div id='navbar-wrapper' class="wrapper">

        <div class="row navbar-outer"style="margin-left:0px; margin-right:0px; @media print{display:none;}">

            <a href="/attachment">
                <div id="navbar-attachment" class="col-xs-2 navbar-box">
                    <img class="navbar-logo" src="/assets/images/attachment.png">
                    <span class="pdc-body">Attachment</span>
                </div>
            </a>

            <a href="/population-health">
                <div id='navbar-population-health' class="col-xs-3 navbar-box">
                    <img class="navbar-logo" src="/assets/images/population-health.png">
                    <span class="pdc-body">Population Health</span>
                </div>
            </a>

            <a href="/polypharmacy">
                <div id='navbar-polypharmacy' class="col-xs-2 navbar-box">
                    <img class="navbar-logo" src="/assets/images/polypharmacy.png">
                    <span class="pdc-body">Polypharmacy</span>
                </div>
            </a>

            <a href="/practice-reflection">
                <div id='navbar-practice-reflection' class="col-xs-3 navbar-box">
                    <img class="navbar-logo" src="/assets/images/practice-reflection.png">
                    <span class="pdc-body">Practice Reflection</span>
                </div>
            </a>

            <a href="/data-quality">
                <div id='navbar-data-quality' class="col-xs-2 navbar-box far-right">
                    <img class="navbar-logo" src="/assets/images/data-quality.png">
                    <span class="pdc-body">Data Quality</span>
                </div>
            </a>
        </div>

    </div> <!-- end .wrapper -->

{{/if}}
