{{#if user}}

    <div class="projects-wrapper">

        <div class="row">

            <div class="col-xs-12">
                <h2>Your Projects</h2>
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-5 initiative-logo-wrap">
                        <a href="/attachment" class="initiative-link">
                            <img src="/assets/images/attachment.png"/>
                        </a>
                    </div>
                    <div class="col-xs-5 initiative-title-wrap">
                        <h4 class="initiative-title pdc-body">Attachment</h4>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-5 initiative-logo-wrap">
                        <a href="population-health" class="initiative-link">
                            <img src="/assets/images/population-health.png"/>
                        </a>
                    </div>
                    <div class="col-xs-5 initiative-title-wrap">
                        <h4 class="initiative-title pdc-body">Population Health</h4>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-5 initiative-logo-wrap">
                        <a href="/polypharmacy" class="initiative-link">
                            <img src="/assets/images/polypharmacy.png"/>
                        </a>
                    </div>
                    <div class="col-xs-5 initiative-title-wrap">
                        <h4 class="initiative-title pdc-body">Polypharmacy</h4>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-5 initiative-logo-wrap">
                        <a href="practice-reflection" class="initiative-link">
                            <img src="/assets/images/practice-reflection.png"/>
                        </a>
                    </div>
                    <div class="col-xs-5 initiative-title-wrap">
                        <h4 class="initiative-title pdc-body">Practice Reflection</h4>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-5 initiative-logo-wrap">
                        <a href="data-quality" class="initiative-link">
                            <img src="/assets/images/data-quality.png"/>
                        </a>
                    </div>
                    <div class="col-xs-5 initiative-title-wrap">
                        <h4 class="initiative-title pdc-body">Data Quality</h4>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <!--
                <div class="row">
                    <div class="col-xs-5 initiative-logo-wrap">
                        <a href="#" class="initiative-link">
                            <img src="/assets/images/practice-reflection.png"/>
                        </a>
                    </div>
                    <div class="col-xs-5 initiative-title-wrap">
                        <h4 class="initiative-title">Practice Reflection</h4>
                    </div>
                </div>
                -->
            </div>

        </div>

    </div> <!-- end .projects-wrapper -->

{{/if}}
