{{#if user}}

    <div class="row">

        <div class="col-sm-12">
            <a href="#">
                <h2><button class="btn btn-primary">Send Feedback to PDC</button><h2>
            </a>
        </div>

    </div>


{{/if}}
