{{#if user}}

    <div class="row">

        <div class="col-sm-12">
            <a href="#">
                <a style="text-align:right;" href="mailto:contact@pdc.io"><h2><button class="btn btn-primary pdc-button">Send Feedback</button><h2></a>

            </a>
        </div>

    </div>


{{/if}}
