{{#if user}}

    <h4>Welcome to the Network.</h4>

    <p>Please click a link above to see your reports for the project(s) you are part of. For more information on how the Physicians Data Collaborative network follow the links below.</p>

    <p><a href="http://pdc.io">How to use this website</a></p>
    <p><a href="http://pdc.io">What is the PDC network</a></p>

{{/if}}
