<html>
{{> head}}
<body>

<div class="container">

    {{> topbar}}

    {{> navbar}}

    <br>
    <div class="wrapper">

        <div class="row">

            <div class="col-sm-10">


                <h3>Attachment Project</h3>

                <p>The <b>Attachment Project</b> is .... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h4>Attachment Graphs</h4>

                <ul class="query-list">
                    <li> <a href="#">Practice Population Profile</a> - the number of active patients in a physician's practice, grouped by gender and displayed in age decades.</li>
                    <li> <a href="#">Practice Population Encounter Profile</a> - the number of encounters for active patients in a physician's practice grouped by gender and displayed in age decades.</li>
                </ul>

            </div>
            <div class="col-sm-2">


            </div>

        </div>

    </div>


</div>
<!-- container -->


</body>
</html>
