<html>
{{> head}}
<body>

<div class="container">

    {{> topbar}}

    {{> navbar}}

    <br>
    <div class="wrapper">

        <div class="row">

            <div class="col-sm-10">


                <h3>Attachment Project</h3>

                <p>Evidence has shown that higher levels of attachment between a patient and Family Physician lead to better outcomes and significant cost-avoidance savings among higher-needs patients.  The PDC, working in collaboration with Divisions, is creating a panel of metrics and reports to help evaluate the effectiveness of the Attachment initiatives.</p>

                <h4>Attachment Graphs</h4>

                <ul class="query-list">
                    <li> <a href="/visualization/PDC-001/{{user.clinic}}/{{user.clinician}}">Practice Population Profile</a> - the number of active patients in a physician's practice, grouped by gender and displayed in age decades.</li>
                    <li> <a href="/visualization/PDC-1740/{{user.clinic}}/{{user.clinician}}">Practice Population Encounter Profile</a> - the number of encounters for active patients in a physician's practice grouped by gender and displayed in age decades.</li>
                </ul>

            </div>
            <div class="col-sm-2">


            </div>

        </div>

    </div>


</div>
<!-- container -->


</body>
</html>
