<!DOCTYPE html>
<html lang="en">
{{> head}}
<body onload="document.getElementById('username').focus();">

<div class="container"> <!-- .container causes centering of the page -->

    <div class="login-wrapper">

        <div class="row top-row">

            <div class="col-xs-6">

                <!-- top left corner -->

                <img class='left-logo' src="/assets/images/PDC-LogoLeft.png"/>
            </div>
            <div class="col-xs-6">

                <!-- top right corner -->

            </div>
            <!-- end .top-row -->

        </div>

        <div class="row login-row">

            <div class="col-xs-10 col-xs-offset-1">

                <div class="row">

                    <div class="col-xs-12">

                        <p class="welcome-message">Welcome to the <br>Physicians Data Collaborative</p>

                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-12">

                        <p>If you have an account, please log in.</p>

                        <p>You can <a href="http://pdc.io">go to our website</a> or <a href="mailto:contact@pdc.io">contact
                            us</a> for more information.</p>

                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-9">

                        <form action="/auth" method="POST" role="form" class="form-horizontal">

                            <input type="hidden" value="TEST" id="juri" name="juri"/>

                            <div class="form-group">
                                <label for="username" class="col-xs-3 control-label"><span>Username:</span></label>

                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="username" name="user" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-xs-3 control-label"><span>Password:</span></label>

                                <div class="col-xs-8">
                                    <input type="password" class="form-control" id="password" name='password' placeholder="">
                                </div>

                                <div class="col-xs-1">

                                    <button type="submit" class="btn btn-primary">Login</button>

                                </div>

                            </div>
                            <div class="row">
                                <div class=" col-xs-offset-3 col-xs-12">

                                    <p><a href="mailto:contact@pdc.io">Forgot your username or password?</a></p>

                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
<!-- end .container -->

<script>

    /**
     * Submits the login information to the server.
     */
    var submitLogin = function () {

        alert("login!");

    }

</script>

</body>
</html>
