<html>
{{> head}}
<body onload="document.getElementById('username').focus();">
    {{> sidebar}}

    <div class="container">
        <div class="row text-center">
          <img src="/assets/images/PDC-Logo.png" alt="PDC Logo" width="300px" align="middle" style="padding:20px">
          <hr>
          <h1>Visualizer</h1>
  <!--
            <h3 class="text-muted">Physicians Data Collaborative of British Columbia</h3>
  -->
        </div> <!-- row text-center -->

        <div class= 'row text-center'>
            <div class='col-sm-3'></div>
            <div class='col-sm-6'>
                {{#if user }}
                    <div class="alert alert-warning" role="alert">
                        <p>You're currently logged in as {{ user.username }}. Logging in again will log you out of your current identity and into the new one.</p>
                    </div>
                {{/if}}

                {{#if message }}

                <div class="alert alert-danger" role="alert">
                    
                    <p>{{ message }}</p>

                </div>
                {{/if}}
            </div>
            <div class='col-sm-3'></div>
        </div>
        <div class="row">

            <form action="/auth" method="POST" role="form" class="form-horizontal">

                <div class="form-group">
                    <label for="password" class="col-sm-1 col-sm-offset-2">Jurisdiction</label>
                    <div class="col-sm-7">
                        <input type="text" id="juri" class="form-control" name="juri" value="TEST" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-sm-1 col-sm-offset-2">Username</label>
                    <div class="col-sm-7">
                        <input type="text" id="username" class="form-control" name="user" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-1 col-sm-offset-2">Password</label>
                    <div class="col-sm-7">
                        <input type="password" id="password" class="form-control" name="password" required />
                    </div>
                </div>

                <div class="form-group">
                    <label></label>
                    <div class="col-sm-7 col-sm-offset-3 text-center">
                        <button href="/auth" class="btn btn-primary btn-labeled">
                            <span class="btn-label pull-left">
                                <i class="fa fa-key"></i>
                            </span>
                            Authenticate
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
