<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCOOP Auth - Login</title>
</head>
<body>
    {{#if user }}
        <p>You're currently logged in as {{ user.username }}. Logging in again will log you out of your current identity and into the new one.</p>
    {{/if}}
    {{#if message }}
        <p>There was the following message: {{ message }}</p>
    {{/if}}
    <form action="/auth" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <input type="submit">
    </form>
</body>
</html>
