<html>
{{> head}}
<body>



<div class="container">

    {{> topbar}}

    {{> navbar}}

    <br>

    <div class="wrapper">

        <div class="row">

            <div class="col-sm-10">

                <h3>Data Quality</h3>

                <p>The <b>Data Quality</b> is .... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h4>Data Quality Graphs</h4>

                <ul class="query-list">
                    <li> <a href="/visualization/PDC-831/?initiative=data-quality">Active Patients Seen in the Last 3 Years</a></li>
                    <li> <a href="/visualization/PDC-832/?initiative=data-quality">Active Patients Missing Gender</a></li>
                    <li> <a href="/visualization/PDC-833/?initiative=data-quality">Active Patients with Invalid Date of Birth</a></li>
                    <li> <a href="/visualization/PDC-834/?initiative=data-quality">Active Patients with No Date of Birth</a></li>
                    <li> <a href="/visualization/PDC-836/?initiative=data-quality">Percentage of Medications that are Coded</a></li>
                    <li> <a href="/visualization/PDC-837/?initiative=data-quality">Number of Prescriptions Per Encounter</a></li>
                    <li> <a href="/visualization/PDC-838/?initiative=data-quality">Patients with No Current Medications</a></li>
                    <li> <a href="/visualization/PDC-840/?initiative=data-quality">Percentage of the Problem List that is Coded</a></li>
                    <li> <a href="/visualization/PDC-882/?initiative=data-quality">Percentage of Problem 1+ Documented Problem</a></li>
                    <li> <a href="/visualization/PDC-842/?initiative=data-quality">Percentage of Patients with Diabetes</a></li>
                    <li> <a href="/visualization/PDC-843/?initiative=data-quality">COPD Completeness Estimate</a></li>
                    <li> <a href="/visualization/PDC-845/?initiative=data-quality">Hypothyroidism Completeness Estimate</a></li>
                    <li> <a href="/visualization/PDC-846/?initiative=data-quality">Gout Completeness Estimate</a></li>
                    <li> <a href="/visualization/PDC-865/?initiative=data-quality">Documentation Rate for Blood Pressure</a></li>
                    <li> <a href="/visualization/PDC-889/?initiative=data-quality">Documentation Rate for BMI</a></li>
                </ul>

            </div>
            <div class="col-sm-2">

            </div>

        </div>

    </div>

</div>
<!-- container -->

<script>
    setNavbarColor("navbar-data-quality");
</script>


</body>
</html>
