<html>
{{> head}}
<body>
<div class="container">
    <div class="row text-center">
        <img src="/assets/images/PDC-Logo.png" alt="PDC Logo" width="300px" align="middle" style="padding:20px">
        <hr>
    </div>
    <!-- row text-center -->

    <div class="row">
        <p> Opps, looks like there was an error! Sorry for the inconvenience. </p>

        <p> It is likely that we do not have data for your account for this feature.</p>

        <br>

        {{#if redirect }}
        <a>
        {{else}}
        <a href='/auth'>
        {{/if}}

        <button id='backButton' class="btn btn-warning">
            Take Me Back!
        </button>


    </a>

        <br>
        <br>

        {{#if message }}
            <p><b>There was the following message:</b> <br> {{ message }}</p>
        {{/if}}

        <a href="mailto:contact@pdc.io"><button class="btn btn-primary">Send Feedback</button></a>

    </div>
</div>
<script>

    function sendBack(e){

        window.history.back();

    }

    $("#backButton").bind("click", sendBack);
</script>

</body>
</html>

