<html>
{{> head}}
<body>



<div class="container">

    {{> topbar}}

    {{> navbar}}

    <br>

    <div class="wrapper">

        <div class="row">


            <div class="col-sm-10">


                <h3>Practice Reflection</h3>

                <p>
                    The <b>Practice Reflection Project</b> is .... Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h4>Practice Reflection Graphs</h4>

                <h5>Medication Use Among Seniors</h5>

                <ul class="query-list">
                    <li><a href="/visualization/PDC-1921/">Statin Use</a></li>
                    <li><a href="/visualization/PDC-1922/">Angiotension Converting Enzyme (ACE) Inhibitor Use</a></li>
                    <li><a href="/visualization/PDC-1923/">Proton Pump Inhibitor (PPI) Use</a></li>
                    <li><a href="/visualization/PDC-1924/">Beta-Blocker Use</a></li>
                    <li><a href="/visualization/PDC-1925/">Dihydropyridine Calcium Channel Blocker Use</a></li>
                    <li><a href="/visualization/PDC-1926/">Thyroid Hormone Use</a></li>
                    <li><a href="/visualization/PDC-1927/">Opioid Use</a></li>
                    <li><a href="/visualization/PDC-1928/">Angiotensin 2 Antagonist Use</a></li>
                    <li><a href="/visualization/PDC-1929/">Biguanide Use</a></li>
                    <li><a href="/visualization/PDC-1930/">Thiazide Use</a></li>
                </ul>

                <!--
                <h5>PSP Pain Module</h5>

                <ul class="query-list">
                    <li><a href="/visualization/PDC-993/">All Patients with Chronic Pain</a></li>
                    <li><a href="/visualization/PDC-993/">Patients with Chronic Pain on Opioids</a></li>
                    <li><a href="/visualization/PDC-993/">Potential Chronic Pain Patients</a></li>
                    <li><a href="/visualization/PDC-993/">Top 10 Medical Conditions of Pain Patients</a></li>
                    <li><a href="/visualization/PDC-993/">Chronic Pain Patients on Opioids with ME > 200 mg/day</a></li>
                    <li><a href="/visualization/PDC-993/">Chronic Pain Patients on Opioids with ME > 100-200 mg/day</a></li>
                    <li><a href="/visualization/PDC-993/">Chronic Pain Patients on Opioids with ME > 50-100 mg/day</a></li>
                    <li><a href="/visualization/PDC-993/">Chronic Pain Patients on Opioids with ME > 10-50 mg/day</a></li>
                    <li><a href="/visualization/PDC-993/">Chronic Pain Patients on Opioids with ME > <10 mg/day</a></li>
                </ul>

                <h5>PSP Musculoskeletal Module</h5>

                <ul class="query-list">
                    <li><a href="/visualization/PDC-993/">Prevalence of Common MSK Pain Conditions</a></li>
                    <li><a href="/visualization/PDC-993/">MSK (OA Only) Acetaminophen Use</a></li>
                    <li><a href="/visualization/PDC-993/">MSK (LBP Only) LBP Medications</a></li>
                </ul>

                <h5>PSP End of Life Module</h5>

                <ul class="query-list">
                    <li><a href="/visualization/PDC-993/">Estimated Number of End of Life Patients</a></li>
                    <li><a href="/visualization/PDC-993/">Estimated Number of Frail Elderly</a></li>
                </ul>

                -->
                <h4>Downloadable Reports</h4>

                <ul class="query-list">
                    <li><a href="/report/practice-reflection-report.csv">Practice Reflection Report</a></li>
                </ul>

            </div>
            <div class="col-sm-2">

            </div>
        </div>

    </div>


</div>
<!-- container -->
<script>
    setNavbarColor("navbar-practice-reflection");
</script>

</body>
</html>
