{{# if user}}
    <html>
    {{> head}}


    <script>
        /**
         * Changes the perspective of the visualization to show either clinician, group, or network
         */
        function changePerspective(event) {

            console.log(event.delegateTarget.id);

            $("#clinicianToggle").removeClass("btn-warning");
            $("#groupToggle").removeClass("btn-warning");
            $("#networkToggle").removeClass("btn-warning");

            $("#" + event.delegateTarget.id).addClass("btn-warning");

            switch (event.delegateTarget.id) {

                case "clinicianToggle":
                    $("#c1").show();
                    $("#c2").hide();
                    $("#c3").hide();
                    $("#chart").hide();
                    break;
                case "groupToggle":
                    $("#c1").hide();
                    $("#c2").show();
                    $("#c3").hide();
                    $("#chart").hide();
                    break;
                case "networkToggle":
                    $("#c1").hide();
                    $("#c2").hide();
                    $("#c3").show();
                    $("#chart").hide();
                    break;
                default:
                    $("#c1").hide();
                    $("#c2").hide();
                    $("#c3").hide();
                    $("#chart").hide();
                    break;

            }
        }
    </script>
    <body>
    <div class="container">

        {{> topbar}}

        {{> navbar}}

        <br>

        <div class="wrapper">

            <div class="row">

                <div class="col-xs-12">

                    <div class="row"> <!-- title block -->
                        <div class="col-xs-12">

                            <h2 id="title"></h2>

                        </div>
                    </div>
                    <!-- end title block -->

                    <div class="row"> <!-- viz block -->

                        <div id="viz-panel" class="col-xs-12 text-center">

                            <div class="">

                                <div class="" id="foobar">

                                    <div id="chart"></div>
                                    <!-- this is the anchor for the d3 visualization, must have id=chart -->

                                    <div id="tripleGraph" class="row">

                                        <div class="">
                                            <div class="text-center">
                                                <div id="c1" class="col-xs-12 text-center"></div>
                                                <div id="c2" class="col-xs-12 text-center"></div>
                                                <div id="c3" class="col-xs-12 text-center"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- end viz block -->
                    <div class="row">

                        <div class="col-xs-12 text-center panel" id="perspectiveToggle"> <!-- side bar -->

                                    <h4>Perspective</h4>

                                        <div class="col-xs-offset-3 col-xs-2" role="presentation">
                                            <button id="clinicianToggle" class="btn btn-primary btn-warning toggleButton">Clinician
                                            </button>
                                        </div>
                                        <div class="col-xs-2" role="presentation">
                                            <button id="groupToggle" class="btn btn-primary toggleButton">Group</button>
                                        </div>
                                        <div  class='col-xs-2' role="presentation">
                                            <button id="networkToggle" class="btn btn-primary toggleButton">Network</button>
                                        </div>


                        </div>

                    </div>


                </div>

            </div>


            <div class="row">

                <div class="col-xs-12 panel panel-default" id="description-panel">

                    <h4>Description:</h4>

                    <p id="description"></p>

                </div>

            </div>

        </div>
    </div>

    </div>


    </div>

    </body>

    {{{ script }}}
    <script>

        var data = {{{json visualization}}};


        if (data["display_name"]) {

            $("#title").text(data["display_name"]);
        }

        if(data.description){

            $("#description").text(data["description"]);
            $("#description").show();

        }

        vis(data); // Render the actual visualiztion;

        if (data.script === "DemographicsPyramidVis") {

            $("#perspectiveToggle").show();

            $("#c1").show();
            $("#c2").hide();
            $("#c3").hide();

            $("#chart").hide();

        } else {

            $("#perspectiveToggle").hide();

            $("#c1").hide();
            $("#c2").hide();
            $("#c3").hide();

            $("#chart").show();

        }

        $("#clinicianToggle").bind('click', changePerspective);
        $("#groupToggle").bind('click', changePerspective);
        $("#networkToggle").bind('click', changePerspective);

        window.onresize = function(){

            $("#chart").text("");
            $("#c1").text("");
            $("#c2").text("");
            $("#c3").text("");
            vis({{{json visualization}}});

        };

    </script>

    <script>

        var initiative = getParameterByName("initiative");

        if(initiative){
            setNavbarColor("navbar-"+initiative);
        }else{
            setNavbarColor(null);
        }

    </script>

    </html>
{{/if}}
