<html>
{{> head}}
<body>
{{> sidebar}}
<div class="container">
  <div class="row text-center">
    <div>
      <img src="/assets/images/PDC-Logo.png" alt="PDC Logo" width="25%" align="middle">
    </div>
      <div class="panel panel-default">
      <div class="panel-body">
        <div id="chart"></div>
      </div>
      {{{ script }}}
      <script>
        var data = {{{json visualization}}};
        vis(data); // Render.
      </script>
    </div> <!-- panel -->
</div> <!-- container -->

</body>
</html>
