<html>
{{> head}}
<body>
{{> sidebar}}

<div class="container">
  <div class="row text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="chart"></div>
      </div>
      {{{ script }}}
      <script>
        var data = {{{json visualization}}};
        vis(data); // Render.
      </script>
    </div> <!-- panel -->
</div> <!-- container -->

</body>
</html>
